/*
  Table of Css
  1.Geral
  2.Cabeçalho
  3.Breadcrumb
  4.Filtro de Preço
  5.Página unica
  6.Slider
  7.Bloco de icones
  8.Produtos
  9.Produto unico
  10.Carousel
  11.Promo Box
  12.Shop
  13.Carrinho de compras
  14.Contato
  15.Roda pé
*/

/********************************** 1.Geral ********************************/
ul {
  padding:0;
  margin:0;
}
ul li {
  list-style:none;
}

a,.row.articles div,.members-social {
  transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -webkit-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  color:#000;
  text-decoration:none;
}

.links{
    display: inline-block;
    width: 100%;
    color: #554a4c;
    font-size: 12px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    position: relative;
    text-decoration: none;
}

.links:hover:after, links.active:after {
  color:#252525;
}
.links:hover,.links.active {
  color:#252525;
  font-weight:bold;
}
.links.active:after {
  content:'-';
  right:13px;
}

.box-texto{
    background-color: #ededed;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -khtml-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    padding: 7px;
    margin: 15px 0 15px 0;
    text-align: left;
    font-size: 15px;
    color: #5a423b;
    font-weight: bold;
}

.nopadding {
  padding-left:0 !important;
  margin-left;
  :0 !important;
}

hr {
  width:100%;
  float:left;
  clear:both;
  background:#eaeaea;
  height:1px;
}
.single-post .date-post {
  margin-top:-55px;
  text-align:left;
}

a:hover {
  text-decoration:none;
  opacity:0.9;
}
.comment-section {
  margin-bottom:20px;
  overflow:hidden;
}
.comment-section h1 {
  font-size:24px;
  text-transform:inherit;
  margin-bottom:15px;
}
.comment-box {
  overflow:hidden;
  margin-bottom:30px;
}
.comment-box img {
  float:left;
  max-width:80px;
}
ul.depth {
  margin-left:100px;
}
ul.depth li {
  position:relative;
}
ul.depth li:before {
  position:absolute;
  content:'';
  width:40px;
  height:40px;
  top:0;
  left:-60px;
  border-left:1px solid #dddddd;
  border-bottom:1px solid #dddddd;
}
.comment-content {
  padding-left:100px;
}
.comment-content h6 {
  color:#3c3c3c;
  font-size:14px;
  font-family:'Open Sans',sans-serif;
  font-style:italic;
  line-height:22px;
  border-bottom:1px solid #e5e5e5;
  display:inline-block;
  margin:-4px 0 7px;
  padding-bottom:4px;
}
.comment-content h6 span {
  color:#d1d1d1;
  font-style:normal;
}
.comment-content p {
  color:#a3a3a3;
  line-height:26px;
}
.text-fields {
  float:left;
  width:50%;
  padding-right:10px;
}
.submit-area {
  float:right;
  width:50%;
}
.comment-form {
  overflow:hidden;
  margin-bottom:40px;
}
.comment-form h1 {
  font-size:24px;
  text-transform:inherit;
  margin-bottom:16px;
}
.float-input {
  position:relative;
  padding-left:58px;
}
.float-input span {
  position:absolute;
  width:58px;
  height:58px;
  border:1px solid #eaeaea;
  top:0px;
  left:0px;
  z-index:2;
  text-align:center;
}
.float-input span i {
  line-height:32px;
  font-size:12px;
  color:#5a423b;
  display:inline-block;
  width:32px;
  height:32px;
  text-align:center;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  border:1px solid #5a423b;
  margin-top:13px;
  transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -webkit-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
}
#contact-form input[type="text"],#contact-form textarea,.comment-form input[type="text"],.comment-form textarea {
  color:#848484;
  font-size:14px;
  font-family:'Open Sans',sans-serif;
  border:1px solid #eaeaea;
  border-left:none;
  font-weight:300;
  -webkit-font-smoothing:antialiased;
  border-radius:0px;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  -o-border-radius:0px;
  outline:none;
  width:100%;
  padding:18px;
  display:block;
  margin-bottom:10px;
  transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -webkit-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
}
#contact-form input[type="text"]:focus+span i,.comment-form input[type="text"]:focus+span i {
  color:#fff;
  background:#5a423b;
}
#contact-form textarea,.comment-form textarea {
  height:126px;
  border:1px solid #eaeaea;
}
#contact-form input[type="submit"],.comment-form input[type="submit"] {
  width:100%;
  text-align:center;
  color:#fff;
  font-size:14px;
  font-family:'Open Sans',sans-serif;
  font-weight:300;
  -webkit-font-smoothing:antialiased;
  padding:19px;
  background:#5a423b;
  text-transform:uppercase;
  border:none;
  transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -webkit-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
}
#contact-form input[type="submit"]:hover,.comment-form input[type="submit"]:hover {
  opacity:0.8;
}
#contact-form .message,.comment-form .message {
  height:20px;
  font-size:13px;
  font-family:'Open Sans',sans-serif;
  float:none;
  margin-top:5px;
}
#contact-form .message.error,.comment-form .message.error {
  color:#eb2c06;
}
#contact-form .message.success,.comment-form .message.success {
  color: #1e9397;
}
/*-------------------------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  font-size:13px;
  font:inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display:block;
}
body {
  line-height:1;
  font-family:Open Sans;
  background:#5a423b!important;
}
ol,ul {
  list-style:none;
}
blockquote,q {
  quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
  content:'';
  content:none;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
a {
  text-decoration:none;
  transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/********************************** 2.Cabeçalho ********************************/
.container.header {
  background:#fff;
  width:100%;
}
.header {
  width:100%;
  background:#fff;
  position:relative;
}
.top-strip {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.87);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 111;
  box-shadow: 0px 0px 10px #000;
}

.top-strip-geral p {
  font-size:11px;
  font-weight:bold;
  text-transform:capitalize;
  color:#ebebeb;
  float:left;
  padding:0;
  margin:0;
  line-height:20px;
}

.top-strip-geral ul {
  float: right;
  margin-bottom: 10px;
  padding: 0px;
}

.top-strip-geral input[type="text"]{
  font-size: 13px;
  border: 1px solid #eaeaea;
  padding: 5px;  
  border-radius: 3px;
}

.top-strip-geral li {
  display:inline-block;
  margin-left:10px;
  margin-top: 10px;
}
.top-strip-geral a {
  padding:6px 10px;
  font-size:13px;
  text-transform:capitalize;
  color:#ffffff;
  text-decoration:none;
}
.top-strip-geral a:hover {
  color:#e4e4e4;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius: 4px;
}
/*-- Logo --*/
.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
  padding:0;
  margin-left: 0;
}
/*-- Navigation --*/
.full {
  background:#fff;
  width:100%;
  padding:30px 0px 0px 0px;
}
.navbar-default {
  border:none!important;
  background:#fff!important;
  padding:50px 0px 0 0!important;
  margin-top:20px!important;
}
.navbar-default a {
  color:#3c2f33 !important;
  font-weight:bold!important;
  font-size:13px!important;
  text-transform:uppercase!important;
  -webkit-border-radius:4px!important;
  -moz-border-radius:4px!important;
  border-radius:3px!important;
}
.navbar-default a:hover {
  color:#000 !important;
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
  color:#fff!important;
  background:#6d534c!important;
}
.navbar-default .navbar-nav>li>a:hover {
  color:#fff!important;
  background:#7f574c!important;
}
.navbar-nav>li>a {
  padding:10px 13px;
}
.navbar-nav>li {
  margin-right:5px;
}
.dropdown-menu>li>a {
  padding:15px 25px;
}
.dropdown:hover .dropdown-menu {
  display:block;
  padding-top:0;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius: 4px;
}

/********************************** 3.Breadcrumb ********************************/
.breadcrumb {
    padding:15px 0;
    margin-bottom: 0px;
    list-style: none;
    background-color: #382925;
    border-radius: 2px;
}

.breadcrumb>li {
    font-size: 14px;
    display: inline-block;
}

.breadcrumb>.active {
    color: #999;
}

.breadcrumb a {
  color:#fff;
  text-decoration:none;
}

.breadcrumb a:hover {
  opacity:0.5;
}

.slider-ribbon {
  position:absolute;
  z-index:99999999999;
  top:0;
  right:0;
}

.content {
  margin-top:30px;
  margin-bottom: 30px;
}
.latest h4 {
  background:#fff;
  font-weight:bold !important;
  font-size:11px !important;
  text-transform:uppercase;
  color:#382925;
  padding:10px 15px;
  border-radius:3px;
}
.article {
  margin-bottom:30px;
  background:#5a423b;
}
.article img {
  width:100%;
}
.article p {
  color:#382925;
  font-size:13px;
  font-weight:bold;
  text-transform:uppercase;
  text-align:center;
  background:#fff;
  padding:10px 0;
}
.personalized {
  background:#fff;
  padding:30px 0;
}
.personalized h4 {
  text-align:center;
  padding:15px 0;
  font-size:13px;
  font-weight:bold;
  text-transform:uppercase;
  color:#3c2f33;
}
.personalized p {
  color:#554a4c;
  font-size:12px;
  font-weight:normal;
  text-align: center;
}

/********************************* 4.Filtro de Preço ******************************************/
.noUi-target * {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-touch-callout:none;
  -ms-touch-action:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  cursor:default;
}
.noUi-base {
  width:100%;
  height:6px;
  position:relative;
  max-width:100%;
  max-height:100%;
  z-index:1;
  border:1px solid #dbdbdb;
  margin-bottom:15px;
}
.noUi-handle {
  background:#EEE;
  height:18px;
  width:18px;
  border-radius:5%;
  -webkit-border-radius:5%;
  -moz-border-radius:5%;
  -o-border-radius:5%;
  margin:-6px 0 0 -6px;
  border:1px solid #382925;
  background:#382925;
}
.noUi-connect {
  background:Teal;
  background:#394f61 url('../images/price-range.png') center center no-repeat;
}
.noUi-background {
  background:#f5f5f5;
}
.noUi-origin {
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  z-index:0;
  border-radius:inherit;
  background:#382925;
}
.noUi-origin-upper {
  background:inherit !important;
}
.noUi-z-index {
  z-index:10;
}
.noUi-vertical {
  width:40px;
  height:100%;
}
.noUi-vertical .noUi-origin {
  bottom:0;
  left:0;
}
.noUi-vertical .noUi-handle {
  margin:-23px 0 0 -3px;
}
.noUi-target[disabled] .noUi-base {
  background:#999;
}
.noUi-target[disabled] .noUi-connect {
  background:#BBB;
}
.noUi-state-tap .noUi-origin {
  -webkit-transition:left 0.3s,top 0.3s;
  transition: left 0.3s,top 0.3s;
}
/*-------------------------------------------------*/
/* = shop page/*-------------------------------------------------*/
.top-bar {
  padding:9px;
  border:1px solid #dbdbdb;
  height:50px;
  margin-bottom:30px;
}
.top-bar .left-block {
  float:left;
}
.top-bar .right-block {
  float:right;
}
.select-filter label {
  display:inline-block;
  margin:0 9px 0 6px;
  color:#535353;
  font-size:13px;
  font-family:'Open Sans',sans-serif;
  font-weight:400;
}
.select-filter .select-box {
  display:inline-block;
  margin-right:10px;
}
.select-filter select {
  height:30px;
  width:100px;
  border:1px solid #dbdbdb;
  outline:none;
  font-size:12px;
  font-family:'Open Sans',sans-serif;
}
.top-bar .right-block span {
  color:#535353;
  font-size:13px;
  font-family:'Open Sans',sans-serif;
  margin-right:9px;
}
.top-bar .right-block a {
  display:inline-block;
  width:30px;
  height:30px;
  text-align:center;
  background:#54babb;
}
.top-bar .right-block i {
  font-size:15px;
  color:#fff;
  line-height:30px;
  transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -webkit-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
}
.top-bar .right-block a:hover i {
  opacity:0.7;
}
.product-post {
  margin-bottom:50px;
}
.product-post img {
  width:100%;
  margin-bottom:15px;
  border-top-left-radius:4px;
  -webkit-border-top-left-radius:4px;
  -moz-border-top-left-radius:4px;
  -o-border-top-left-radius:4px;
  border-top-right-radius:4px;
  -webkit-border-top-right-radius:4px;
  -moz-border-top-right-radius:4px;
  -o-border-top-right-radius:4px;
}
.product-post h2 {
  color:#000;
  font-size:15px;
  font-family:'Open Sans',sans-serif;
  font-weight:300;
  -webkit-font-smoothing:antialiased;
  margin:0 0 15px;
}
ul.product-list {
  overflow:hidden;
  border:1px solid #dbdbdb;
}
ul.product-list li {
  float:left;
  border-left:1px solid #dbdbdb;
}
ul.product-list li:first-child {
  border-left:none;
}
ul.product-list li a {
  display:inline-block;
  padding:11px;
  color:#000;
  font-size:15px;
  font-family:'Open Sans',sans-serif;
  font-weight:300;
  -webkit-font-smoothing:antialiased;
  text-decoration:none !important;
  transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -webkit-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
}
ul.product-list li a:hover {
  opacity:0.6;
}
ul.product-list li a i {
  font-size:18px;
  color:#54babb;
}
ul.product-list li.details a {
  background:#f2f2f2;
}
ul.product-list li.price {
  padding:11px 13px;
  background:#54babb;
  font-size:15px;
  font-family:'Open Sans',sans-serif;
  font-weight:300;
  -webkit-font-smoothing:antialiased;
  color:#fff;
}
.sidebar-widgets {
  padding:12px;
  background:#fff;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.shop-sidebar {
  border-radius:3px;
}
.shop-widget {
  margin-top:5px;
  margin-bottom:30px;
}
.shop-widget h4 {
  color:#e7e5de;
  font-size:13px;
  text-transform:uppercase;
  font-weight:bold;
  -webkit-font-smoothing:antialiased;
  padding:16px 21px;
  background:#5a423b;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  text-align:center;
}
.category-shop-list>li {
  /*border-top:1px solid #dedede;*/
}
.category-shop-list>li:first-child {
  margin-top:10px;
}
.category-shop-list li a.accordion-link {
  display:inline-block;
  width:100%;
  color:#554a4c;
  font-size:12px;
  font-weight:normal;
  transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -webkit-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  padding:10px 5px;
  position:relative;
  text-decoration:none;
}
.category-shop-list li a.accordion-link:hover,.category-shop-list li a.accordion-link.active {
  color:#554a4c;
  background:#fff;
  opacity:0.6;
}
.category-shop-list li a.accordion-link:after {
  position:absolute;
  content:'+';
  color:#7b7b7b;
  font-size:15px;
  font-family:arial;
  font-weight:700;
  right:9px;
  top:5px;
}
.category-shop-list li a.accordion-link:hover:after,.category-shop-list li a.accordion-link.active:after {
  color:#000;
}
.category-shop-list li a.accordion-link:hover,.category-shop-list li a.accordion-link.active {
  color:#000;
  font-weight:bold;
}
.category-shop-list li a.accordion-link.active:after {
  content:'-';
  right:13px;
}
.accordion-list-content {
  display:none;
}
.accordion-list-content li {
  margin:5px 0;
  padding-left:17px;
  position:relative;
  list-style:none;
}
.accordion-list-content li:before {
  position:absolute;
  content:'';
  width:px;
  height:px;
  border-radius:1px;
  -webkit-border-radius:1px;
  -moz-border-radius:1px;
  -o-border-radius:1px;
  background:#767676;
  top:50%;
  left:8px;
}
.accordion-list-content li a {
  display:inline-block;
  color:#767676;
  font-size:13px;
  font-family:'Open Sans',sans-serif;
}
.accordion-list-content p {
  margin-bottom:20px;
  line-height:24px;
}

.popular-product{
    width: 70%;
}

ul.popular-product li {
  padding-top:15px;
  margin-bottom:15px;
  border-top:1px solid #dedede;
  overflow:hidden;
}
ul.popular-product li span {
  font-weight:bold!important;
}
ul.popular-product li:first-child {
  border-top:none;
}
ul.popular-product li img {
  float:left;
  width:50px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
ul.popular-product li div {
  margin-left:60px;
}
ul.popular-product li h6 {
  color:#000;
  font-size:13px;
  font-family:'Open Sans',sans-serif;
  margin:0;
  margin-top:4px;
  font-weight:bold;
  margin-bottom:6px;
}
ul.popular-product li h6 a {
  color:#000;
  text-decoration:none;
  transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -webkit-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
}
ul.popular-product li h6 a:hover {
  color:#000;
}
ul.popular-product li span {
  color:#382925;
  font-size:15px;
  font-family:'Open Sans',sans-serif;
  font-weight:300;
  -webkit-font-smoothing:antialiased;
}
.price-range {
  padding:18px 12px 12px;
  overflow:hidden;
}
#start-val,#end-val {
  display:inline-block;
  border:none;
  float:left;
  padding:0;
  color:#000;
  font-size:13px;
  font-family:'Open Sans',sans-serif;
  max-width:50px;
}
#end-val {
  float:right;
  text-align: right;
}

/********************** 5.Página unica ***********************************/
.textit {
  background:red;
  margin-bottom:30px;
  margin-left:0px;
}
.tabs {
  background:#fff;
  margin-bottom:50px;
  padding:20px;
  border-radius:3px;
  margin-top:30px;
  clear:both;
}
.recent-works {
  background:#5a423b;
}
.carousel-control .glyphicon {
  display:none;
}
.carousel-control {
  -o-border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  width:25px;
  height:25px;
  background:none;
  font-size:17px;
  color:#ffffff;
  text-align:center;
  text-shadow:none;
  -webkit-text-shadow:none;
  -moz-text-shadow:none;
  -o-text-shadow:none;
  opacity:0.5;
  opacity:1;
  transition:all 0.17s ease-in-out;
  -moz-transition:all 0.17s ease-in-out;
  -webkit-transition:all 0.17s ease-in-out;
  -o-transition:all 0.17s ease-in-out;
}
.carousel-control.left {
  left:28px;
  left:auto;
}
.carousel-control.left:before {
  font-family:'FontAwesome';
  position:absolute;
  font-size:19px;
  color:#fff;
  top:-1px;
  left:8px;
}
.carousel-control.right {
  right:0;
}
.carousel-control.right:before {
  font-family:'FontAwesome';
  position:absolute;
  font-size:19px;
  color:#fff;
  top:-1px;
  left:10px;
}
.carousel-control.left:hover {
  opacity:1;
}
.carousel-control.right:hover {
  opacity:1;
}
.work-post {
  overflow:hidden;
  border-radius:6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  -o-border-radius:6px;
  margin-bottom:30px;
}
.work-post-gal {
  position:relative;
}
.work-post-gal img {
  width:100%;
}
.work-post-content {
  background:#fff;
  padding:20px;
}
.work-post-content span {
  display:inline-block;
  color:#4984aa;
  font-style:italic;
  font-family:'Open Sans',sans-serif;
  font-size:12px;
}
.hover-box {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius:5px;
  background:rgba(0,118,249,0.8);
  transition:all 0.17s ease-in-out;
  -moz-transition:all 0.17s ease-in-out;
  -webkit-transition:all 0.17s ease-in-out;
  -o-transition:all 0.17s ease-in-out;
  transform:scale(0);
  -webkit-transform:scale(0);
  -moz-transform:scale(0);
  -o-transform:scale(0);
}
.hover-box a {
  width:50px;
  height:50px;
  display:inline-block;
  position:absolute;
  top:50%;
  margin-top:-25px;
  transition:all 0.35s ease-in-out;
  -moz-transition:all 0.35s ease-in-out;
  -webkit-transition:all 0.35s ease-in-out;
  -o-transition:all 0.35s ease-in-out;
  transform:scale(0.1);
  -webkit-transform:scale(0.1);
  -moz-transform:scale(0.1);
  -o-transform:scale(0.1);
}
.work-post:hover .hover-box {
  transform:scale(1);
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -o-transform:scale(1);
}
.work-post:hover .hover-box a {
  transform:scale(1);
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -o-transform:scale(1);
}
.hover-box a:after {
  position:absolute;
  content:'';
  width:50px;
  height:50px;
  background:url('../images/zoom-after.png') center center no-repeat;
  transition:all 0.17s ease-in-out;
  -moz-transition:all 0.17s ease-in-out;
  -webkit-transition:all 0.17s ease-in-out;
  -o-transition:all 0.17s ease-in-out;
}
.hover-box a:hover:after {
  transform:scale(1.2);
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -o-transform:scale(1.2);
  opacity:0;
}
.hover-box a.zoom {
  right:50%;
  margin-right:5px;
  background:url('../images/zoom.png') center center no-repeat;
}
.hover-box a.page {
  left:50%;
  margin-left:5px;
  background: url('../images/page.png') center center no-repeat;
}
/****tabat*****/
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
  background:#382925;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
  border:none;
  color:#e7e5de;
}
.nav-tabs {
  border-bottom:none;
  margin-bottom:10px;
}
.nav-tabs li a {
  background:#5a423b;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}
.nav-tabs>li>a {
  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;
  color:#e7e5de;
}
.nav-tabs>li>a:hover {
  background:#222;
}
.tab-content p {
  font-size:12px;
  font-weight:bold;
  color:#554a4c;
  line-height:22px;
}
.work-post-content h5 {
  font-weight:bold;
  font-size:13;
  text-transform:uppercase;
  color:#382925;
}
.work-post-content span {
  font-weight:bold;
  font-size:21px;
  color: #382925;
}

/********************************** 6.Slider ********************************/
.main-flexslider {
  float:left;
  position:relative;
  width:100%;
  height:auto;
}
.main-flexslider img {
  width:100%;
  height:auto;
}
.main-flexslider .slides .slides {
  background-size:cover;
  background-repeat:no-repeat;
}
.main-flexslider .slides .slides .container {
  position:absolute;
  top:0px;
}
.main-flexslider .slides .slides .slide-caption {
  width:100%;
  top:30%;
  position:absolute;
  z-index:100;
}
.main-flexslider .slides .slides .slide-caption a {
  color:#fff;
  background:#be8c60;
  font-size:13px;
  font-family:Open sans;
  font-weight:bold;
  padding:15px 30px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  letter-spacing:1px;
  line-height:130px;
}
.main-flexslider .slides .slides .slide-caption a:hover {
  background:#f6ede5;
  color:#725337;
  text-decoration:none;
}
.main-flexslider .slides .slides .slide-caption h2 {
  margin-top:0;
  font-size:50px;
  font-family:Lobster;
  font-weight:normal;
  color:#ebebeb;
  text-align:center;
}
.main-flexslider .slides .slides .slide-caption p {
  font-size:15px;
  font-weight:300;
  color:#000;
}
.main-flexslider .slides .slides .slide-caption .slide-item-features {
  float:left;
  padding-left:0;
  margin:15px 0;
  border-bottom:1px solid #DBDBDB;
  padding-bottom:30px;
}
.main-flexslider .slides .slides .slide-caption .slide-item-features li {
  float:left;
  background-color:#fff;
  border:1px solid #B1B1B1;
  font-size:13px;
  font-weight:300;
  color:#000;
  margin-right:5px;
  padding:3px 5px;
  padding-right:10px;
  text-transform:capitalize;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  border-radius:4px;
}
.main-flexslider .slides .slides .slide-caption .slide-item-features li span {
  color:#B1B1B1;
  font-size:18px;
  padding:5px;
  padding-right:10;
}
.main-flexslider .slides .slides .slide-caption .slider-buttons-wrapper {
  margin:25px 0;
  float:left;
}
.main-flexslider .slides .slides .slide-caption:before {
  position:absolute;
  z-index:-1;
}
.slide-item-features {
  float:left;
  padding-left:0;
  margin:15px 0;
  border-bottom:1px solid #DBDBDB;
  padding-bottom:30px;
}
.slide-item-features li {
  float:left;
  background-color:#fff;
  border:1px solid #B1B1B1;
  font-size:13px;
  font-weight:300;
  color:#000;
  margin-right:5px;
  padding:3px 5px;
  padding-right:10px;
  text-transform:capitalize;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  border-radius:4px;
}
.slide-item-features li span {
  color:#B1B1B1;
  font-size:18px;
  padding:5px;
  padding-right:10;
}
.flex-direction-nav a {
  background-color:#0095e6;
  color:#fefefe;
  text-align:center;
  width:61px;
  height:61px;
  line-height:62px;
  z-index:0;
}
.flex-direction-nav a:before {
  font-family:"FontAwesome";
  font-size:24px;
  display:inline-block;
  content:'\f190';
}
.flex-direction-nav a.flex-next:before {
  content:'\f18e';
}
.main-flexslider .flex-direction-nav .flex-prev {
  top:363px !important;
  left:inherit !important;
}
.main-flexslider .flex-direction-nav .flex-next {
  right:0 !important;
  top:363px !important;
}
.flex-direction-nav {
  display: none;
}

/********************************** 7.Bloco de icones ********************************/
.icon-blocks {
  background:#fff;
  float:left;
  width:100%;
  height:auto;
  border-radius:5px;
  margin:30px 0;
}
.icon-blocks .col-md-4 {
  padding:30px;
}
.icon-blocks p {
  color:#382925;
  font-size:13px;
  font-weight:800;
  text-transform:uppercase;
  text-align:center;
}
.icon-blocks i {
  font-size:30px;
  color:#5a423b;
  display:block;
  margin-bottom:20px;
}

/********************************** 8.Produtos ********************************/
.product:hover {
  -webkit-box-shadow:3px -9px 84px 13px rgba(0,0,0,0.54);
  -moz-box-shadow:3px -9px 84px 13px rgba(0,0,0,0.54);
  box-shadow: 0px 0px 20px 8px rgba(0,0,0,0.54);
}

.articles {
  background:#5a423b;
}
.articles img,.members img {
  width:100%;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}
.articles .text,.members .text {
  background:#fff;
  width:100%;
  margin-bottom:30px;
  margin-top:-2px;
  text-align:center;
  padding:30px 0 17px 0;
  text-transform:uppercase;
  font-weight:bold -webkit-border-bottom-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-bottomleft:3px;
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
}
.articles p {
  color:#ffffff;
  font-size:21px;
  font-weight:bold;
  text-transform:uppercase;
  text-align:center;
  padding:10px 0;
  margin:0!important;
}
.articles span {
  font-size:13px;
  font-weight:bold!important;
}

.articles a:hover {
  color:#89573b;
}
.members .text {
  float:left;
  background:#fff;
  width:100%;
  margin-bottom:30px;
  margin-top:-2px;
  text-align:left;
  text-transform:uppercase;
  font-weight:bold -webkit-border-bottom-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-bottomleft:3px;
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
  padding:25px;
  position:relative;
}
.members-socials {
  position:absolute;
  background:rgba(56,41,37,0.2);
  width:100%;
  height:66px;
  top:-66px;
  left:0;
}
.members-socials:hover {
  background:rgba(56,41,37,0.8);
}
.members-socials ul {
  text-align:center;
}
.members-socials ul li {
  display:inline-block;
  line-height:66px;
  margin:0 3px;
}
.members p {
  color:#382925;
  font-size:21px;
  font-weight:bold;
  text-transform:uppercase;
  text-align:left;
  background:#fff;
  padding:10px 0;
}
.members span {
  font-size:13px;
  font-weight:bold
}
.members-socials i {
  color:#fff;
  width:32px;
  height:32px;
  border-radius:100px;
  background:#281d1a;
  line-height:32px;
  font-size:16px;
  opacity: 0.8;
}
i:hover {
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -webkit-animation-delay:10s;
  /* Safari and Chrome */
  animation-delay:10s;
}
.members-socials i:hover {
  background:#998d8a;
  color:#fff;
  opacity:1;
}
.members img {
  width: 100%;
}

/********************************** 9.Produto unico ********************************/
.checkout-bott {
  background:#fff;
  padding:30px;
  padding-top:0;
}
.checking-area {
  margin-top:30px;
}
.method-right {
  background:#fff;
  border-radius:3px;
  padding-bottom:28px;
  padding:30px;
  padding-top:10px;
}
.checking h4 {
  font-weight:bold;
  font-size:13px;
  text-transform:uppercase;
  color:#554a4c;
  margin-bottom:20px;
  background:#fff;
  text-align:left;
  padding-left:0px;
}
.checking label {
  font-weight:bold;
  font-size:12px;
  color:#554a4c;
}
.checking p {
  font-weight:bold;
  font-size:12px;
  color:#554a4c;
  margin:30px 0;
  line-height:20px;
}
.checking a {
  background:#382925;
  padding:10px 20px;
  border-radius:3px;
  font-size:13px;
  font-weight:bold;
  color:#e7e5de;
  text-transform:uppercase;
  text-decoration:none;
  margin-bottom:25px;
  display:inline-block;
}
.checking a:hover {
  opacity:0.8;
}
.radio,.checkbox {
  display:block;
  min-height:20px;
  padding-left:20px;
  border:1px solid #eaeaea;
  padding:20px;
  margin-bottom:10px;
  margin-left:0px;
  padding-left:45px;
}
.radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"] {
  float:left;
  margin-left:-26px;
}
.ui-radio:nth-child(1) .ui-icon-radio-on.ui-icon {
  background-color:green;
}
.ui-radio:nth-child(2) .ui-icon-radio-on.ui-icon {
  background-color:grey;
}
.ui-radio:nth-child(3) .ui-icon-radio-on.ui-icon {
  background-color:red;
}
.check-name h4 {
  font-weight:bold;
  font-size:13px;
  text-transform:uppercase;
  color:#554a4c !important;
  margin-bottom:20px;
  text-align:left;
  padding-left:0;
}
.check-name a {
  font-size:12px;
  font-weight:normal;
  color:#382925;
  text-transform:capitalize;
  text-decoration:underline;
  display:inline-block;
  margin-bottom:20px;
  margin-right:17px;
}
.check-name span {
  background:#382925;
  padding:10px 20px;
  border-radius:3px;
  font-size:13px;
  font-weight:bold;
  color:#e7e5de;
  text-transform:uppercase;
  text-decoration:none;
  margin-bottom:25px;
  display:inline-block;
}
.check-name span:hover {
  opacity:0.8;
}
.radio label,.checkbox label {
  font-size:12px;
  font-weight:normal;
  color:#554a4c;
  text-transform:capitalize;
}

.form-control {
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  background-color:#fff;
  -webkit-box-shadow:inset 0 2px 4px rgba(206,203,195,.4);
  -moz-box-shadow:inset 0 2px 4px rgba(206,203,195,.4);
  box-shadow:inset 0 2px 4px rgba(206,203,195,.4);
  border:solid 1px #c0b4a9;
  border-left: 2px solid #5a423b;  
}

.inl h4 {
  padding:10px 15px;
  background:red;
}
.inl li {
  display:inline-block;
  width:19.6%;
  border:1px solid pink;
}
.inl a {
  margin-left:16px;
  text-decoration:none;
  float:right;
  list-style:none;
}
.img-price li {
  margin-bottom:25px;
}
.img-price img {
  float:left;
  margin-right:28px;
}
.img-price ul li a {
  line-height:51px;
  font-weight:bold;
  font-size:13px;
  color:#554a4c;
  text-transform:uppercase;
  text-decoration:none;
}
.img-price span {
  margin-left:28px;
}
.total ul {
  margin-top:15px;
  margin-left:20px;
}
.total li {
  margin-bottom:30px;
}
.total a {
  font-weight:bold;
  font-size:13px;
  text-transform:uppercase;
  color:#554a4c;
}
.total span {
  font-size:21px;
  font-weight:bold;
  color:#5a423b;
  margin-left:15px;
}
.total h6 {
  background:#382925;
  font-size:13px;
  font-weight:normal;
  text-transform:uppercase;
  color:#e7e5de;
  text-align:center;
  padding:15px 15px;
  margin-bottom:30px;
  border-radius:3px;
}
.total h6 a {
  text-decoration:none;
  color:#e7e5de;
}
.total h6:hover {
  opacity:0.8;
  cursor:pointer;
}
.bs-example {
  padding:34px 20px 20px 20px;
  background:#fff;
}
.panel-title>a {
  font-size:13px;
  font-weight:bold;
  text-transform:uppercase;
  color:#fff;
  display:block;
  padding:25px;
}
.panel-title a:hover {
  background:#382925;
  color:#fff;
  text-decoration:none;
}
.panel-default>.panel-heading {
  background:#5a423b;
  padding:0!important;
}
.collapse.in {
  display:block;
}
.check-name {
}
.checkout-cart {
  padding:30px;
  padding-top:10px;
}
.checkout-cart table.cart-table th {
  background:#a39b99;
}
.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td {
  padding:8px;
  line-height:1.42857143;
  vertical-align:center;
}
.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td {
  border-top:none;
}
.panel-body {
  padding:30px;
}
.pb2 {
  padding:30px;
  padding-right:20px;
  padding-left: 20px;
}

.btn-add-carrinho{
  padding: 8px;
  margin-left: 5px;
}

/********************************** 9.Produto unico ********************************/
.single-product {
  width:100%;
  background:#fff;
  float:left;
}
.product-details {
  padding:30px;
  padding-bottom:0;
}
.product-details h1 {
  font-size:20px;
  font-weight:700;
  color:#382925;
  padding-bottom:18px;
  text-transform: uppercase;
}
.product-details p.price {
  font-size:21px;
  color:#382925;
  font-weight:700;
  float:left;
  margin-top:0!important;
}
.product-details p {
  clear:both;
  line-height:22px;
  font-size:12px;
  color:#554a4c;
  margin-bottom:17px;
}
.product-details span {
  color:#aea7a4;
  font-size:18px;
  font-weight:700;
  margin:2px 0 0 11px!important;
  text-decoration:line-through;
}
.product-details a {
  background:#382925;
  color:#fff;
  font-size:11px;
  font-weight:bold;
  padding:12px 15px;
  float:left;
  margin-top:0px;
  margin-left:15px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.reviews {
  clear:both;
  float:left;
  width:100%;
  margin-left:-16px;
  padding-bottom:20px;
}
.reviews a {
  background:none;
  color:#ffa03a;
  padding:0;
  font-size:17px;
}
.qtyminus {
}
input.qty {
  width:60px;
  padding:6px;
  border-radius:4px;
  border:1px solid #d1d1d1;
  float:left;
}
.qtyplus {
}
.availability {
  clear:both;
}
.availability p {
  float:left;
}
.availability span {
  float:left;
  margin-top:18px;
  font-size:17px;
}
.reviews {
  clear:both;
}
.white-bg {
  background:#fff;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
i {
  transform:rotate(0deg);
  -ms-transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  -webkit-animation-delay:1s;
}
i:hover {
  transform:rotate(10deg);
  -ms-transform:rotate(10deg);
  -webkit-transform:rotate(10deg);
  -webkit-animation-delay: 0.5s;
}

/********************************** 10.Carousel ********************************/
.clients-section {
  background:#5a423b;
}
.partners {
  padding:50px;
  background:url('../upload/banner1.jpg');
  overflow:hidden;
}
.carousel {
  position:relative;
  margin-top:50px;
  margin-bottom:60px;
}
.partners .carousel-control {
  border:1px solid #fff;
  background:transparent;
}
.carousel-control.right,.carousel-control.left {
  background:none!important;
}
.carousel-control.left:after {
  font-family:"FontAwesome";
  font-size:24px;
  display:inline-block;
  content:'\f190';
  float:left;
  margin-top:46px;
}
.carousel-control.right:after {
  font-family:"FontAwesome";
  font-size:24px;
  display:inline-block;
  content:'\f18e';
  float:right;
  margin-top:46px;
}
.partners .carousel-control.left:before {
  top:-2px;
  left:8px;
}
.partners .carousel-control.right:before {
  top:-2px;
  left:9px;
}
.partner-list {
  overflow:hidden;
  padding-top:10px;
}
.partner-list li {
  float:left;
  width:16.8%;
  margin-left:4%;
}
.partner-list li:first-child {
  margin-left: 0;
}

/********************************** 11.Promo Box ********************************/
.prize {
  background:url("/layout/img/candycharm/slide-01.jpg") no-repeat center;
  width:100%!important;
  margin-top:30px;
}
.prize h1 {
  text-align:center;
  font-size:20px;
  text-transform:uppercase;
  color:#e7e5de;
  padding:84px 0;
  font-weight:bold;
}
.container-full {
  background:#382925;
}
.above-footer {
  width:100%;
  background:#382925;
}
.info {
  padding-top:50px;
  padding-bottom:50px;
  background:#382925;
}
.addres h1 {
  color:#be8c60;
  font-size:20px;
  margin-bottom:25px;
}
.addres h6 {
  margin-bottom:25px;
  font-size:12px;
  font-weight:normal;
  color:#be8c60;
}
.addres p {
  font-size:12px;
  text-transform:capitalize;
  color:#e7e5de;
}
.account h4 {
  font-size:13px;
  font-weight:bold;
  text-transform:uppercase;
  color:#e7e5de;
  margin-bottom:25px;
}
.account ul li {
  line-height:20px;
}
.account a {
  font-weight:normal;
  font-size:12px;
  text-transform:capitalize;
  color:#e7e5de;
  text-decoration:none;
}
.account a:hover {
  opacity:0.5;
}
.assistance ul {
  margin-top:30px;
}
.assistance ul li {
  margin-bottom:15px;
}
.assistance a {
  font-size:12px;
  text-transform:capitalize;
  color:#e7e5de;
  text-decoration:none;
}
.assistance a:hover {
  opacity:0.5;
}
.about h4 {
  font-size:13px;
  font-weight:bold;
  text-transform:uppercase;
  color:#e7e5de;
  margin-bottom:15px;
}
.about p {
  font-weight:normal;
  font-size:12px;
  color:#e7e5de;
}
.page-title {
  width:100%;
  background:#382925;
}
.produti h4 {
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;
  color:#ebebeb;
  margin-top:45px;
}

/********************************** 12.Shop ********************************/
.home-shop {
  margin-top:30px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 2px;
    float: right;
}
.pagination>li {
    display: inline;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #7f574c;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #214e75;
    background-color: #eee;
    border-color: #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #7f574c;
    border-color: #7f574c;
    cursor: default;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}
.pagination-lg>li>a, .pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.33;
}
.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

/********************************** 13.Carrinho de compras ********************************/

.wizard .nav-tabs-wizard {
    position: relative;
    margin-bottom: 0;
    border-bottom: 1px solid #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 78%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
}

.wizard .nav-tabs-wizard > li.active > a, .wizard .nav-tabs-wizard > li.active > a:hover, .wizard .nav-tabs-wizard > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5a423b;
    
}
.wizard li.active span.round-tab i{
    color: #5a423b;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs-wizard > li {
    width: 25%;
    float: left;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5a423b;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5a423b;
}

.wizard .nav-tabs-wizard > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs-wizard > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 14px;
}

@media( max-width : 585px ) {
   
    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs-wizard > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.cart-section {
  background:#fff;
  padding-bottom:10px;
  padding:20px;
  width:100%;
}
table.cart-table {
  width:100%;
  border-collapse:separate;
  border-spacing:0;
  border:none;
  border:1px solid #eaeaea;
  height:auto;
}
table.cart-table tr {
}
table.cart-table th {
  border:none;
  background-color:#f6f6f6;
  text-align:left;
  padding:10px 20px;
  color:#fff;
  vertical-align:top;
  font-size:11px;
  font-weight:600;
  background:#5a423b;
  text-transform:uppercase;
  padding:20px 20px;
}
table.cart-table td {
  padding:20px;
  border-bottom:#eee 1px solid;
  border-top:none;
  border-right:none;
  vertical-align:middle;
  font-size:13px;
  color:#2a2523;
}
table .cart-title a {
  font-weight:bold;
  font-size:13px;
  text-transform:uppercase;
  color:#554a4c;
}
table .cart-title a:hover {
  color:#808080;
}
table .cart-total {
  color:#666;
  font-weight:600;
}
table.cart-table.bottom {
  margin-top:-1px;
}
table.cart-table.bottom .cart-btns {
  float:right;
}
table.cart-table.bottom .cart-btns a {
  margin-left:10px;
}
table.cart-table.bottom th {
  padding: 15px;
}
/* Cart Totals */
.eight.columns.cart-totals {
  float:right;
  padding-right:0;
  margin-right:0;
  margin-top:116px;
}

.cart-totals{
  margin-top: 15px;
}

.cart-totals .cart-table th {
  vertical-align:middle;
  border-bottom:1px solid #4a3631;
  padding:15px 0px 15px 20px;
  background:#5a423b!important;
}
.cart-totals .cart-table td {
  border-bottom:1px solid #ddd;
  padding:20px 20px;
}
.cart-totals .cart-table tr:last-child th,.cart-totals .cart-table tr:last-child td {
  border:0;
}
.test {
  margin-top:0!important;
}
.test th {
  background:red!important;
  padding:50px;
}
table.cart-table.subtotals td {
  padding:15px;
  border:none;
  vertical-align:middle;
}
a.button.proceed:hover {
  background-color:#606060;
}
a.calculate-shipping {
  text-align:center;
  display:block;
  background:#382925;
  color:#fff;
  padding:10px;
  text-transform:uppercase;
  font-weight:700;
  font-size:13px;
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  -ms-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
  padding:20px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
a.calculate-shipping i {
  font-size:14px;
  padding:0 2px;
}
a.calculate-shipping:hover {
  background:#5a423b;
  color: #fff;
}
/* Responsive Tables */
.st-key {
  border:none;
  background-color:#f6f6f6;
  text-align:left;
  padding:10px 20px;
  color:#606060;
  vertical-align:top;
  font-size:14px;
  font-weight:600;
  width:40%;
  border:1px solid #eee;
}
.st-val {
  width:58%;
  text-align:left;
  padding:10px 20px;
  border:1px solid #f0f0f0;
  border-left:0;
}
.st-val a {
  font-weight:600;
  color:#666;
}
.st-val a:hover {
  color:#808080;
}
.st-space {
  height:25px;
}
.st-val .cart-remove {
  color:#a0a0a0;
}
.st-val .cart-remove:hover {
  color:#fff;
}
.stacktable {
  width:100%;
}
.st-head-row {
}
.st-head-row img {
}
.st-head-row.st-head-row-main {
  display:block;
}
.stacktable.large-only {
  display:table;
}
.stacktable.small-only {
  display:none;
}
.taxat {
  margin-top:50px;
  clear:both;
  width:100%;
  float:left;
  background:#fff;
  padding:30px;
}
.taxes {
  margin-top:30px;
  margin-bottom:50px;
  float:left;
  clear:both;
}
.taxes ul {
  margin-bottom:35px;
}
.taxes ul li {
  display:inline-block;
}
.taxes ul li a {
  color:#e7e5de;
  font-weight:bold;
  text-transform:uppercase;
  font-size:12px;
  background:#382925;
  padding:10px 15px;
  border-radius:3px;
  text-decoration:none;
}
.taxes p {
  font-size:12px;
  font-weight:normal;
  color:#554a4c;
  margin-bottom:25px;
}
div.container.checking-area>div>div.col-md-9.method-right>div>div>ul>li:nth-child(4)>ul>p {
  font-size:12px;
  font-weight:normal;
  color:#554a4c;
}
.cart-area {
  float:left;
  padding-bottom:30px;
}
.cart-bottom-strip {
  float:left!important;
  background:red!important;
  padding:20px!important;
}
.cart-buttons {
  float:right;
  margin-top:18px;
}
.cart-buttons a {
  padding:14px 20px;
  color:#fff;
  background:#382925;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  font-size:12px;
  text-transform:uppercase;
  font-weight:bold;
}
body>div.container.checking-area>div>div.col-md-9.method-right>form>input {
  float:left;
  margin-top:5px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  border:1px solid #eaeaea!important;
  line-height:30px;
  padding:7px;
  padding-left:15px;
  font-size:13px;
}
form.apply-coupon {
  float:left;
}
.apply-coupon input {
  float:left;
  margin-top:5px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  border:1px solid #eaeaea!important;
  line-height:30px;
  padding:7px;
  padding-left:15px;
  font-size:13px;
}
body>div.container.checking-area>div>div.col-md-9.method-right>form>a {
  margin-top:5px;
}
body>div.container.checking-area>div>div.col-md-9.method-right>form>a:hover {
  color:#fff;
}
.coupon-btn {
  float:left;
  background:#5a423b;
  padding:16px 20px;
  color:#fff!important;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  font-size:12px;
  text-transform:uppercase;
  margin-left:10px;
  font-weight:bold;
  margin-top:5px;
  border:none!important;
}
.checkout-btn {
  margin-top: 6px;
}


/********************************* 14.Contato ******************************************/
.page-banner.contact-banner {
  background:url('../upload/banner3.jpg');
}
.map {
  height:440px;
  margin-bottom:40px;
  -webkit-filter:grayscale(100%);
  -moz-filter:grayscale(100%);
  -ms-filter:grayscale(100%);
  -o-filter:grayscale(100%);
  filter:grayscale(100%);
  filter:gray;
  border-radius:5px;
  /* IE 6-9 */
}
.contact-all {
  background:#fff;
  margin:0 !important;
  padding:20px;
  border-radius:5px;
}
#contact-form h1,.contact-info h1 {
  font-weight: bold;
    color: #e7e5de;
    text-transform: uppercase;
    margin-bottom: 16px;
    background: #5a423b;
    border-radius: 5px;
    font-family: open sans;
    font-size: 13px;
    padding: 20px;
    margin: 2px 0 20px 0;
    text-align: center; 
}
.contact-box h1 {
  text-transform:inherit;
}
#contact-form {
  margin-bottom:30px;
  overflow:hidden;
}
.contact-info {
  border-bottom:1px solid #e3e3e3;
  margin-bottom:15px;
}
.contact-info p {
  font-size:15px;
  color:#919191;
  line-height:22px;
  margin-bottom:15px;
}
.contact-info-list li {
  display:inline-block;
}
.contact-info-list li {
  display:inline-block;
  font-size:14px;
  color:#919191;
  font-family:'Open Sans',sans-serif;
  font-weight:300;
  -webkit-font-smoothing:antialiased;
  margin-right:20px;
  line-height:22px;
}
.contact-info-list li i {
  font-size:17px;
  color:#54babb;
  margin-right:10px;
}
.contact-info-list li a {
  color: #919191;
}
/*******************right-cal***************/
.celendar-info {
  background:#fff;
  border-radius:5px;
  padding-top:3px;
}
.right-cal h4 {
  font-size:13px;
  font-family:open sans;
  font-weight:bold;
  color:#e7e5de;
  text-transform:uppercase;
  background:#5a423b;
  margin:20px;
  text-align:center;
  padding:15px 30px;
  border-radius:5px;
}
.right-cal ul {
  margin-left:20px;
}
.right-cal li {
  margin:10px 30px 10px 10px;
}
.right-cal a {
  font-family:open sans;
  font-weight:bold;
  font-size:13px;
  color:#554a4c;
  text-transform:uppercase;
  margin-left:8px;
  text-decoration:none;
}
.right-cal span {
  float:right;
  margin-right:20px;
}
.colored {
  background:#f1f0eb;
  padding:7px 0;
}
.right-inf h4 {
  font-size:13px;
  font-family:open sans;
  font-weight:bold;
  color:#e7e5de;
  background:#5a423b;
  margin: 0 20px 20px 20px;
  text-align:center;
  padding:15px 30px;
  border-radius:3px;
}
.right-inf ul {
  margin-left:40px;
  margin-bottom:25px;
}
.right-inf li {
  margin-bottom:5px;
}
.right-inf p {
  font-family:open sans;
  font-size:13px;
  color:#554a4c;
}
.right-inf a {
  font-family:open sans;
  font-size:13px;
  color:#554a4c;
  text-decoration: none;
}

/********************************* 15.Roda pé ******************************************/
.full-footer {
  width:100%;
  background:#2d2220;
}
.full-footer h4 {
  font-size:13px;
  font-weight:bold;
  text-transform:uppercase;
  color:#e7e5de;
  margin-bottom:25px;
}
.full-footer p {
  font-weight:normal;
  font-size:12px;
  color:#e7e5de;
  margin-top:8px;
  line-height:24px;
}
.full-footer h6 {
  margin-top:20px;
}
.bottom-strip {
  padding:15px 0;
}
.social ul {
  float:right;
}
.social ul li {
  display:inline-block;
  margin-left:20px;
  line-height:30px;
}
.social i {
  color:#ffffff;
  font-size:18px;
}
@media (min-width:768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
/* Caption and Light */
.caption {
  color:rgba(0,0,0,0);
}
.caption:hover {
  color:rgb(255,255,255);
}
.caption>div {
  position:absolute;
  top:43%;
  font-size: 30px;
}
/* Smooth Caption */
.smooth {
  opacity:0.6;
}
.smooth:hover {
  opacity:1;
  box-shadow:0px 0px 10px #333333;
}
.go-left {
  background-color:rgba(0,0,0,0.5);
  color:#FFFFFF;
  position:absolute;
  bottom:0px;
  right:-600px;
  width:360px;
  text-align:center;
  font-size:20px;
  margin:10px;
  padding:10px;
  -webkit-transition:0.5s Ease;
  -moz-transition:0.5s Ease;
  -o-transition:0.5s Ease;
  transition:0.5s Ease;
}
.smooth:hover>.go-left {
  right:0px;
}
.go-top {
  background-color:rgba(0,0,0,0.5);
  color:#FFFFFF;
  position:absolute;
  bottom:0px;
  top:600px;
  width:360px;
  text-align:center;
  font-size:20px;
  margin:10px;
  padding:10px;
  -webkit-transition:0.5s Ease;
  -moz-transition:0.5s Ease;
  -o-transition:0.5s Ease;
  transition:0.5s Ease;
}
.smooth:hover>.go-top {
  top:0px;
}
.go-top p {
  font-size: 12px;
}
/* Show Details */
.details-holder {
  float:left;
  position:relative;
  margin:20px 5px 120px 5px;
}
.show-details img {
  opacity:0.5;
}
.show-details:hover img {
  position:relative;
  opacity:1;
  z-index:99;
}
.img-info {
  position:absolute;
  z-index:20;
  top:-10px;
  left:-10px;
  background-color:#888888;
  color:#FFFFFF;
  -webkit-transition:0.5s Ease;
  -moz-transition:0.5s Ease;
  -o-transition:0.5s Ease;
  transition:0.5s Ease;
  opacity:0;
}
.show-details:hover .img-info {
  opacity:1;
}
.details-holder h1 {
  font-size:18px;
  text-transform:uppercase;
}
.details-holder p {
  font-size: 12px;
}

/********************************* Css incluido depois ******************************************/

.bloco{
    background: #fff;
    margin: 0 !important;
    padding: 20px;
    border-radius: 3px;
}

.title{
    font-weight: bold;
    color: #e7e5de;
    text-transform: uppercase;
    margin-bottom: 16px;
    background: #5a423b;
    border-radius: 3px;
    font-family: open sans;
    font-size: 13px;
    padding: 20px;
    margin: 2px 0 20px 0;
    text-align: center; 
}

.botao{
    background: #382925;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 11px 15px;
    float: left;
    margin-top: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
}

.botao:hover{
  border: none;
  color: #e7e5de;
}

label{
  font-size: 13px;
  color: #2a2523;
  padding: 10px 10px 5px 0;
}

.texto-sublinhado{
  border-bottom: 2px solid #8d8d8d;
}

.help-block{
  font-size: 13px;
}

.alert{
  font-size: 13px;
}

.result-busca{
  margin-bottom: 15px; 
}

.result-busca label{
  font-size: 16px;
  color: #ffffff;  
}

.vlr-produto {
  color:#5a423b!important;  
}

.ml-3-px{
  margin-left: 3px;
}

.mb-15-px{
  margin-bottom: 15px;
}
