@media (max-width:1300px) {
    .main-flexslider .slides .slides .slide-caption h2 {
        font-size: 30px
    }
}

@media (max-width:1199px) {
    .main-flexslider .slides .slides .slide-caption h2 {
        font-size: 26px
    }
    .eight.columns.cart-totals,
    .taxes {
        width: 100%!important
    }
    .eight.columns.cart-totals {
        margin-top: 0;
        padding-left: 0
    }
    .taxes {
        padding-right: 0;
        margin-bottom: 10px
    }
    .cart-buttons {
        float: left;
        clear: both;
        margin-top: 19px
    }
}

@media (max-width:991px) {
    .main-flexslider .slides .slides .slide-caption h2 {
        font-size: 24px
    }
    .produti h4 {
        margin-bottom: 20px
    }
    .navbar-nav>li {
        margin-right: 0;
        margin-left: 1px
    }
    .navbar-default a {
        font-size: 12px!important
    }
    .navbar-nav>li>a {
        padding: 4px 9px
    }
    .navbar-nav {
        margin-top: 5px
    }
    .full-footer h4,
    .shop-sidebar {
        margin-bottom: 30px
    }
    .white-bg {
        background: 0 0
    }
    .col-md-9.checkout-accordion {
        padding: 0
    }
    .taxes {
        width: auto
    }
    .shop-sidebar {
        width: 100%
    }
}

.main-flexslider .slides .slides .slide-caption a {
    font-size: 10px;
    line-height: 86px
}

@media (max-width:767px) {
    .main-flexslider .slides .slides .slide-caption h2 {
        font-size: 20px
    }
}

@media (max-width:581px) {
    .main-flexslider .slides .slides .slide-caption h2,
    td img {
        display: none
    }
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding: 4px!important
    }
    .language ul,
    .user p {
        float: none;
        text-align: center;
        padding: 2px
    }
    .cart-buttons {
        float: left;
        clear: both;
        margin-top: 20px
    }
    .cart-buttons a {
        display: block;
        margin-bottom: 20px
    }
    .taxes.nopadding {
        border-top: 1px solid #eaeaea;
        padding-top: 37px;
        margin-top: 8px
    }
    a.coupon-btn.checkout-btn {
        margin-top: 6px;
        margin-left: 0
    }
    .apply-coupon input {
        margin-right: 15px
    }
    .taxat {
        margin-top: 0;
        padding-top: 0
    }
    .cart-section {
        padding-bottom: 10px;
        margin-bottom: 0;
        max-width: 340px
    }
    form.apply-coupon {
        float: left;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 22px
    }
}